nav li a {
    font-family : 'YouYuan';
    color : #fff;
    font-size : 19px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.animatedModal2-on .close-popup-modal,
.animatedModal3-on .close-popup-modal,
.animatedModal4-on .close-popup-modal,
.animatedModal5-on .close-popup-modal,
.animatedModal6-on .close-popup-modal,
.animatedModal7-on .close-popup-modal,
.animatedModal8-on .close-popup-modal,
.animatedModal9-on .close-popup-modal {
  opacity: 1;
}

